# Rainstorm .gitignore file
logs/
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec
*.toml

# Big files
examples/*

# R files
*.Rhistory
*.RData