"ipykernel>=6.29.5",
"opencv-python>=4.10",
"keyboard>=0.13.5",
"plotly>=5.24.1",
"matplotlib>=3.9.3",
"scipy>=1.13.1",
"tables>=3.9.2",
"numpy>=1.25.2",
"pandas>=2.0.3",
"nbformat>=5.10.4",
"h5py>=3.12.1",
"tensorflow>=2.0,<2.13",
"scikit-learn>=1.5.2,<2.0",
"seaborn>=0.13.2",
